#blog-content{
    padding: 80px 0;
    box-sizing: border-box;
    margin-bottom: 20px;
    >img{
        margin-bottom: 40px;
        width: 100%;
    }
    .sec-heading{
        margin-top: 22px;
        margin-bottom: 28px;
    }
    .blog-info{
        &_single{
            @media only screen and (max-width: 720px) {
                width: 50%;
            }
            color: $main-black;
            font-family: Lora;
            font-size: 12px;
            font-weight: 400;
            line-height: 36px;
            text-transform: uppercase;
            margin-right: 30px;
            >span{
                color: $main-brown;
            }
        }
    }
    .additional-pots{
        .related-post{
            &:first-child{
                @media only screen and (max-width: 1020px) {
                    margin-bottom: 20px;
                }        
            }
            img{
                width: 100%;
                margin-bottom: 32px;
            }
            &_heading{
                color: #3c3634;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            &_desc{
                color: $main-black;
                font-family: "Playfair Display";
                font-size: 14px;
                font-weight: 400;
                >span{
                    color: #9f8447;
                }
            }
        }
    }
}